*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    max-width: 1856px;
}

body{
    /* background-color: gold; */
}

/* Header */

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/Killian_perspective.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    height: 18vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h2{
    font-family: 'Josefin Sans';
    font-size: 35px;
    letter-spacing: 1px;
    color: #2b2b2b;
}

.content ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
    font-weight: 400;
}

.content ul li a{
    text-decoration: none;
    color: #2b2b2b;
    transition: .3s ;
    font-weight: 500;
}

.content ul li a:hover{
    color: #4D2079;
}

.sidebar{
    position: absolute;
    height: 340px;
    width: 60px;
    background-color: rgba(218, 218, 218, 0.747);
    border-radius: 10px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    text-align: center;
}

.box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px auto;
}

.text{
    background-color: #4D2079;
    height: 100%;
    min-height: 0px;
    margin-right: 5px;
    line-height: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.icon{
    height: 100%;
    min-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.icon i{
    color: #4D2079;
    font-size: 18px;
    line-height: 50px;
}

.box:hover .icon{
    background-color: #4D2079;
}

.box:hover .icon i{
    color: white;
}

.box:hover .text{
    min-width: 120px;
}

/* main */

#main{
    padding: 0px 129px 0px 129px;
}

/* section-1 */

.section-1{
    padding: 120px 0px 120px 0px;
}

.title-box{
    position: relative;
}

.title-box h2{
    display: flex;
    text-transform: capitalize;
    line-height: 45px;
    padding: 50px 10px 50px 0px;
    font-size: 40px;
    font-weight: 600;
}

.title-box p{
    display: inline-flex;
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.title-box img{
    position: absolute;
    top: 41px;
    right: -20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.section-1 p{
    display: inline-flex;
    align-items: flex-end;
}

.container-box{
    display: flex;

}

.selectors {
    margin-left: 20px;
    border: 1px solid #b9b9b9;
    border-radius: 16px;
    width: 140px;
    padding: 30px 0px 25px 0px;
}

.selectors:hover{
    border: 1px solid #4D2079;
}

.selectors img{
    padding: 0px 40px 0px 40px;
}

.text-box{
    display: flex;

}

/* .text-box :hover{
    color: #6a0ec2;
} */

.selectors-text a{
    display: block;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    width: 138px;
    padding: 25px 0px 25px 0px;
    box-sizing: border-box;
    color: black;
}

/* No Name */

.section-2{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    margin: 0px -45px 0px -45px;
    padding: 50px 0px 50px 0px;
}

.inner-box h2{
    margin-left: 150px;
    display: flex;
    text-transform: capitalize;
    line-height: 45px;
    padding: 20px 10px 0px 0px;
    font-size: 40px;
    font-weight: 600;
}

.inner-box p{
    margin-left: 150px;
    display: flex;
    text-transform: capitalize;
    padding: 20px 10px 0px 0px;
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 650px;
    font-weight: 500;
}

.inner-box button{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #4D2079;
    border: none;
    border-radius: 16px;
    width: 146px;
    height: 54px;
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    padding: 17px;
    text-transform: capitalize;
    text-decoration: none;
}

.section-3{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 120px -129px 120px -129px;
    /* padding-top: 120px; */
    background-color: #4D2079;
}

.tab-bar{

    margin-left: 180px;
}

.tab-bar h2{
    max-width: 1485px;
    display: flex;
    text-transform: capitalize;
    line-height: 45px;
    padding: 0px 10px 25px 0px;
    font-size: 40px;
    font-weight: 600;
    color: white;

}

#nav-bar{
    display: flex;
    margin-bottom: 50px;
    max-width: 1485px;
    border-bottom: 1px solid #ffffff77;
}

.nav-link{
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 0 7px 0;
    margin-right: 32px;
    background-color: unset;
    position: relative;
}

.card-container {
    display: flex;
    gap: 25px;
}
.card {
    display: flex;
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 30px;
    overflow: hidden;
    color: #fff;
    width: 650px;
}
.card img {
    width: 50%;
    object-fit: cover;
}
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.card-content h2 {
    padding-bottom: 0px;
    padding-top: 20px;
    font-size: 18px;
    margin: 0;
}
.card-content p {
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
    padding-bottom: 100px;
}
.price {
    font-size: 24px;
    font-weight: bold;
}
.discount {
    text-decoration: line-through;
    color: #ccc;
}
.view-more {
    color: white;
    text-decoration: none;
    align-self: flex-end;
}

.card-button{
    display: inline;
    justify-content: space-between;
    padding-right: 5px;
}

.card-button button{
    margin-top: 30px;
    width: 76px;
    padding: 8px;
    border-radius: 26px;
    border: none;
}

/* Section-4 */

.section-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 40px 20px; */
    flex-wrap: wrap; /* Add this to handle wrapping on smaller screens */

}

.image-column{
    /* flex: 0 0 auto; */
    max-width: 45%;
}

.inner-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    width: 100%;
}

.image-box{
    position: relative;
    margin-left: 50px;
}

figure.image {
    margin-bottom: 0;
}

.image {
    overflow: hidden;
}

.image-2{
    margin-top: 53px;
    margin-left: 83px;
    margin-bottom: 0;
}

.image-3{
    margin-left: 10px;
    margin-bottom: 0;
}
.text-content {
    max-width: 47%; /* Adjust the width */
}
.text-content h2 {
    max-width: 70%;
    font-size: 36px;
    margin: 0 0 20px;
}
.text-content p {
    max-width: 80%;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    padding-bottom: 20px;
}
.features {
    max-width: 85%;
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}
.features li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
}
.features li::before {
    content: '✓';
    color: green;
    margin-right: 10px;
}
.text-content a button{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #4D2079;
    border: none;
    border-radius: 16px;
    width: 146px;
    height: 54px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    padding: 17px;
    text-transform: capitalize;
    text-decoration: none;
}

/* Section-5 */

.section-5{
    display: flex;
    margin-top: 120px;
    margin: 120px -129px 120px -129px;
    background-image: url(./assets/image-8.png);
    /* height: 700px; */
}

.box-calc{
    flex: 0 0 auto;
    width: 28%;
    margin: 120px 20px 105px 185px;
    padding: 65px;
    background-color: var(--theme-color-light);
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    border-radius: 24px;
}

.box-title {
    margin-bottom: 50px;
}

.box-ip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.box-title h2 {
    font-family: var(--title-font);
    font-size: 40px;
    font-weight: 700;
    color: var(--theme-color-dark);
    text-transform: capitalize;
    line-height: 45px;
    padding-bottom: 10px;
}

.box-calc .box-title p {
    font-size: 15px;
    line-height: 26px;
}

/* .box-calc .drop-menu {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    height: 55px;
} */

.box-calc label {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    color: rgba(5, 11, 32, 1);
}

.box-calc form{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 100%;
}

.box-calc input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 100%;
    height: 55px;
    font-size: 14px;
    line-height: 53px;
    padding: 0 15px;
    border-radius: 12px;
    font-weight: 500;
}

.form-submit a button{

    display: flex;
    justify-content: center;
    color: white;
    background-color: #4D2079;
    border: none;
    border-radius: 16px;
    width: 100%;
    height: 54px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    padding: 17px;
    text-transform: capitalize;
    text-decoration: none;
}

/* Section-6 */

.section-6{
    /* height: 700px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 180px 120px 180px;
    flex-wrap: wrap; /* Add this to handle wrapping on smaller screens */
    /* overflow: hidden; */
}

.download-container{
    position: static;
    max-width: var(--container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    columns: 2; /*VERY IMPORTANT*/

}

.text-content-box{
    margin: 120px 0px 0px 0px;
    max-width: 72%;
}

.text-content-box h2{
    padding: 50px 0px 10px 0px;
    max-width: 100%;
    font-size: 36px;
    margin: 0 0 20px;
    font-weight: 700;
}

.text-content-box p {
    font-size: 16px;
    margin: 0 0 20px;
    padding-bottom: 20px;
    font-weight: 400;
}

.image-content-box{
    /* flex: 0 0 auto; */
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
    position: static;
}

.image-content-box img{
    margin-bottom: 0;
    overflow: hidden;
}

.btn-box{
    display: flex;
    gap: 20px;
    padding: 0%;

}



.btn-box img{
    display: flex;
    margin-left: -15px;
    padding-top: 10px;
}


/* footer */

/* Fazer CSS */