*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

body{
    /* background-color: gold; */
}

/* Header */
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/Killian_perspective.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    height: 18vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h2{
    font-family: 'Josefin Sans';
    font-size: 35px;
    letter-spacing: 1px;
    color: #2b2b2b;
}

.content ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 20px;
    font-weight: 400;
}

.content ul li a{
    text-decoration: none;
    color: #2b2b2b;
    transition: .3s ;
    font-weight: 500;
}

.content ul li a:hover{
    color: #6a0ec2;
}

.sidebar{
    position: absolute;
    height: 340px;
    width: 60px;
    background-color: rgba(218, 218, 218, 0.747);
    border-radius: 10px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    text-align: center;
}

.box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin: 5px auto;

}

.text{
    background-color: #6a0ec2;
    height: 100%;
    min-height: 0px;
    margin-right: 5px;
    line-height: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.icon{
    height: 100%;
    min-width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.icon i{
    color: #6a0ec2;
    font-size: 18px;
    line-height: 50px;
}

.box:hover .icon{
    background-color: #6a0ec2;
}

.box:hover .icon i{
    color: white;
}

.box:hover .text{
    min-width: 120px;
}

/* main */
#main{
    padding: 0px 129px 0px 129px;

}

/* Categories */
.categories{
    padding: 120px 0px 120px 0px;
}

.title-box{
    position: relative;
}

.title-box h2{
    display: flex;
    text-transform: capitalize;
    line-height: 45px;
    padding: 20px 10px 50px 0px;
    font-size: 40px;
    font-weight: 600;
}

.title-box p{
    display: inline-flex;
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.title-box img{
    position: absolute;
    top: 41px;
    right: -20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.categories p{
    display: inline-flex;
    align-items: flex-end;
}

.container-box{
    display: flex;

}

.selectors {
    margin-left: 20px;
    border: 1px solid #b9b9b9;
    border-radius: 16px;
    width: 140px;
    padding: 30px 0px 25px 0px;
}

.selectors:hover{
    border: 1px solid #6a0ec2;
}

.selectors img{
    padding: 0px 40px 0px 40px;
}

.text-box{
    display: flex;

}

/* .text-box :hover{
    color: #6a0ec2;
} */

.selectors-text a{

    display: block;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    width: 138px;
    padding: 25px 0px 25px 0px;
    box-sizing: border-box;
    color: black;
}

/* No Name */
.no-name{
    background-color: #D9D9D9;
    border-radius: 50px;
    margin: 0px -45px 0px -45px; 
    padding: 144px; 
}

